{% extends 'basic.html' %}

{% block title %}

{% endblock title %}

{% block contactactive %}active{% endblock contactactive %}

{% block body %}
<div style="margin-left : 80px; margin-right:50px">
    <br>
    <h1> Get a Quote / मुझसे संपर्क करने के लिए फॉर्म भरें</h1>
    <br>
    <form action="/contact" method="post">{% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">नाम / Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">ईमेल पता / Email Id</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">फोन नंबर / Phone Number</label>
            <input type="tel" class="form-control" name="phone" id="phone">
        </div>
        <div class="mb-3">
            <label for="Content" class="form-label">अपनी समस्या का वर्णन करें / Please state your Concern</label>
            <textarea class="form-control" name="content" id="Content" cols="30" rows="5"></textarea>
        </div>
        <div class="mb-3">
            <label for="Content" class="form-label"> जन्म तिथि / Date of Birth</label>
            <input type="date" class="form-control" name="DOB" id="DOB">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body%}