{% extends 'basic.html' %}
{% load static %}
{% block head %}
<style>
    .carousel-item {
        height: 500px; /* Adjust this value to set the desired height */
    }
    .carousel-item svg {
        height: 100%; /* Ensure SVGs take up the full height of the carousel item */
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black; /* Change to desired color */
    }

</style>

{% endblock head %}
{% block title %}
Home
{% endblock title %}

{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption text-start">
                    <img src="{% static 'papa3.png' %}" alt="LIC Agent" class="profile-image"
                         style="width:998px ;height:400pxx">
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <img src="{% static 'papa4.jpg' %}" alt="LIC Agent" class="profile-image"
                         style="width:800px ; height:400px">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption text-end">papa5.jpg
                    <img src="{% static 'papa5.jpg' %}" alt="LIC Agent" class="profile-image"
                         style="width:998px ; height:400px">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<h1>
    <center>Insurance Services</center>
</h1><br>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <img src="{% static 'lic1.png' %}" alt="LIC" class="profile-image"
                     style="width:140px ; height:140px">
            </svg>
            <h2 class="fw-normal">
                <center>Life Insurance Corporation</center>
            </h2>
            <p>Life Insurance Corporation of India is an Indian multinational Central Public sector life insurance
                company headquartered in Mumbai. It is India's largest insurance company as well as the largest
                institutional investor with total assets under management worth ₹52.52 trillion as of March 2024.</p>
            <p><a class="btn btn-primary" href="https://ebiz.licindia.in/D2CPM/#Login" target="_blank">Open Portal »</a></p>
            <p><a class="btn btn-primary" href="https://ebiz.licindia.in/D2CPM/#DirectPay" target="_blank">Direct Pay Premium »</a></p>
        </div>
        <!--/.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <img src="{% static 'star1.png' %}" alt="Star" class="profile-image"
                     style="width:100px ; height:70px">
            </svg>
            <h2 class="fw-normal">
                <center>Star Health Insurance</center>
            </h2>
            <p>Star Health and Allied Insurance Co Ltd is an Indian multinational health insurance company headquartered
                in Chennai. The company provides services in health, personal accident and overseas travel insurance,
                directly as well as through various channels like agents, brokers and online</p>
            <p><a class="btn btn-secondary" href="https://www.starhealth.in/" target="_blank">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Life Insurance Corporation <br></h2>
            <h3><span
                    class="text-body-secondary" style="color: #f7e307;">भारतीय </span><span style="color:blue;">जीवन बीमा निगम</span>
            </h3>

            <ul>
                <li><strong>LIC New Jeevan Anand</strong>LIC New Jeevan Anand provides financial protection to the
                    family in case of death of the policyholder. This comprehensive plan ensures financial security for
                    the insured and provides a lump sum amount at maturity or on unfortunate events.
                </li>
                <strong style="color: #f7e307;">एलआईसी न्यू जीवन आनंद</strong>: <span style="color: blue;">एलआईसी न्यू जीवन आनंद पॉलिसीधारक की मृत्यु के मामले में परिवार को वित्तीय सुरक्षा प्रदान करता है। यह व्यापक योजना बीमाधारक के लिए वित्तीय सुरक्षा सुनिश्चित करती है और परिपक्वता पर या दुर्भाग्यपूर्ण घटनाओं पर एकमुश्त राशि प्रदान करती है।</span>

                <li><strong>LIC Jeevan Lakshya Plan</strong>: LIC Jeevan Lakshya provides annual income benefits that
                    may be helpful to fund different expenses, including family needs or child education needs. The plan
                    is a good combination of protection and savings.
                </li>
                <strong style="color: #f7e307;">एलआईसी जीवन लक्ष्य योजना</strong>: <span style="color: blue;">एलआईसी जीवन लक्ष्य वार्षिक आय लाभ प्रदान करता है
                    पारिवारिक ज़रूरतों या बच्चे की शिक्षा की ज़रूरतों सहित विभिन्न खर्चों को वित्तपोषित करने में सहायक हो सकता है। योजना
                    सुरक्षा और बचत का एक अच्छा संयोजन है।</span>

                <li><strong>LIC Jeevan Labh Plan</strong>LIC Jeevan Labh plan provides financial support to the
                    policyholder in case of the death of the assured during the policy term. Additionally, the plan
                    offers the maturity benefit if the policyholder survives the term. The final additional bonus is
                    declared at the time of death or maturity claim.
                </li>
                <strong style="color: #f7e307;">एलआईसी जीवन लाभ योजना</strong>: <span style="color: blue;">एलआईसी जीवन लाभ योजना वित्तीय सहायता प्रदान करती है
                    पॉलिसी अवधि के दौरान बीमित व्यक्ति की मृत्यु के मामले में पॉलिसीधारक। इसके अतिरिक्त, योजना
                    यदि पॉलिसीधारक अवधि तक जीवित रहता है तो परिपक्वता लाभ प्रदान करता है। अंतिम अतिरिक्त बोनस है
                    मृत्यु या परिपक्वता दावे के समय घोषित किया गया।</span>

                <li><strong>LIC Jeevan Umang Plan</strong>With LIC Jeevan Umang plan, the policyholder gets life
                    coverage till 100 years of age. The plan also offers guaranteed annual survival benefits after the
                    completion of the premium paying term till maturity.
                </li>
                <strong style="color: #f7e307;">एलआईसी जीवन उमंग प्लान</strong>: <span style="color: blue;">एलआईसी जीवन उमंग प्लान से पॉलिसीधारक को जीवन मिलता है
                    100 वर्ष की आयु तक कवरेज। यह योजना उसके बाद गारंटीशुदा वार्षिक उत्तरजीविता लाभ भी प्रदान करती है
                    परिपक्वता तक प्रीमियम भुगतान अवधि पूरी होने तक।</span>

                <li><strong>LIC Jeevan Tarun Plan</strong>LIC Jeevan Tarun is specially designed for children to offer
                    them a hefty life cover and savings benefits. The survival benefit provides the financial backup to
                    plan the child's quality education.
                </li>
                <strong style="color: #f7e307;">एलआईसी जीवन तरूण योजना</strong>: <span style="color: blue;">एलआईसी जीवन तरूण विशेष रूप से बच्चों के लिए डिज़ाइन किया गया है ताकि उन्हें भारी जीवन कवर और बचत लाभ प्रदान किया जा सके। उत्तरजीविता लाभ बच्चे की गुणवत्तापूर्ण शिक्षा की योजना बनाने के लिए वित्तीय बैकअप प्रदान करता है।</span>

                <li><strong>LIC New Money Back Plan - 20 Years</strong>LIC New Money Back Plan - 20 Years is a limited
                    premium paying life assurance policy with a combination of life protection and assured survival
                    benefits in the predetermined durations.
                </li>
                <strong style="color: #f7e307;">एलआईसी न्यू मनी बैक प्लान - 20 वर्ष</strong>: <span style="color: blue;">एलआईसी न्यू मनी बैक प्लान - 20 वर्ष सीमित है
                    जीवन सुरक्षा और सुनिश्चित अस्तित्व के संयोजन के साथ प्रीमियम भुगतान वाली जीवन बीमा पॉलिसी
                    पूर्व निर्धारित अवधि में लाभ.</span>

            </ul>
            <p><a class="btn btn-primary" href="https://ebiz.licindia.in/D2CPM/#Login" target="_blank">Open Portal »</a></p>
            <p><a class="btn btn-primary" href="https://ebiz.licindia.in/D2CPM/#DirectPay" target="_blank">Direct Pay Premium »</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <img src="{% static 'LIC2.jpg' %}" alt="LIC" class="profile-image"
                     style="width:450px ; height:450px">
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Star Health Insurance<br></h2>
            <h3><span
                    class="text-body-secondary" style="color: #05585e;">स्टार स्वास्थ्य बीमा</span></h3>

            <ul>
                <li><strong>Individual Health Insurance</strong>: Individual health insurance, also known as personal
                    medical insurance, is a type of health policy that offers medical coverage to people on an
                    individual sum insured basis. Being one of the most common types of health insurance plans in India,
                    it covers the hospitalisation expenses incurred once you are admitted. You can add your spouse,
                    children, and parents as beneficiaries under the same policy by paying an extra premium.
                </li>
                <strong style="color: #261e75;">व्यक्तिगत स्वास्थ्य बीमा</strong>: <span style="color: #261e75;">व्यक्तिगत स्वास्थ्य बीमा, जिसे व्यक्तिगत भी कहा जाता है
                    चिकित्सा बीमा, एक प्रकार की स्वास्थ्य पॉलिसी है जो लोगों को चिकित्सा कवरेज प्रदान करती है
                    व्यक्तिगत बीमा राशि का आधार। भारत में सबसे आम प्रकार की स्वास्थ्य बीमा योजनाओं में से एक होने के नाते,
                    यह आपके भर्ती होने के बाद अस्पताल में भर्ती होने के खर्च को कवर करता है। आप अपने जीवनसाथी को जोड़ सकते हैं,
                    अतिरिक्त प्रीमियम का भुगतान करके एक ही पॉलिसी के तहत बच्चों और माता-पिता को लाभार्थी के रूप में।</span>

                <li><strong>Family Floater Health Insurance</strong>Family floater insurance covers the entire family,
                    and the members of the plan share the insured sum. The best part of family health insurance is that
                    you need not manage different policies, and it is cost-effective.
                </li>
                <strong style="color: #261e75;">फैमिली फ्लोटर स्वास्थ्य बीमा</strong>: <span style="color: #261e75;">फैमिली फ्लोटर बीमा पूरे परिवार को कवर करता है,
                    और योजना के सदस्य बीमित राशि साझा करते हैं। पारिवारिक स्वास्थ्य बीमा का सबसे अच्छा हिस्सा यही है
                आपको विभिन्न नीतियों का प्रबंधन करने की आवश्यकता नहीं है, और यह लागत प्रभावी है।</span>

                <li><strong>Senior Citizen Health Insurance</strong>The senior citizen health insurance policy is ideal
                    for older adults above 60. It caters to the medical-related treatment costs for senior citizens,
                    such as preventive health check-ups, cashless hospitalisation, pre-existing disease coverage, and
                    much more.
                </li>
                <strong style="color: #261e75;">वरिष्ठ नागरिक स्वास्थ्य बीमा</strong>: <span style="color: #261e75;">वरिष्ठ नागरिक स्वास्थ्य बीमा पॉलिसी आदर्श है
                    60 वर्ष से अधिक उम्र के बुजुर्गों के लिए। यह वरिष्ठ नागरिकों के लिए चिकित्सा संबंधी उपचार लागत को पूरा करता है,
                    जैसे कि निवारक स्वास्थ्य जांच, कैशलेस अस्पताल में भर्ती, पहले से मौजूद बीमारी का कवरेज, और
                बहुत अधिक।</span>

                <li><strong>Critical Illness Plan</strong>A critical illness cover offers financial protection to the
                    insured by providing coverage against life-threatening health conditions such as kidney failure,
                    cancer, heart attack, and multiple sclerosis. Critical illness insurance plans differ in the number
                    of conditions covered based on the insurer and are irrespective of the pre and post-hospitalisation
                    expenses.
                </li>
                <strong style="color: #261e75;">गंभीर बीमारी योजना</strong>: <span style="color: #261e75;">एक गंभीर बीमारी कवर वित्तीय सुरक्षा प्रदान करता है
                    गुर्दे की विफलता जैसी जीवन-घातक स्वास्थ्य स्थितियों के खिलाफ कवरेज प्रदान करके बीमा किया जाता है,
                    कैंसर, दिल का दौरा, और मल्टीपल स्केलेरोसिस। गंभीर बीमारी बीमा योजनाओं की संख्या अलग-अलग होती है
                    बीमाकर्ता के आधार पर कवर की गई शर्तें अस्पताल में भर्ती होने से पहले और बाद की हैं
                खर्चे।</span>

                <li><strong>Top-Up Plan</strong>A top-up health insurance plan is a backup to your primary health
                    insurance plan. It is ideal for individuals looking to replenish the sum insured to a specific
                    amount above the basic plan. You may have to pay a fixed deductible; the limit is crossed, and the
                    top-up is activated.
                </li>
                <strong style="color: #261e75;">टॉप-अप योजना</strong>: <span style="color: #261e75;">एक टॉप-अप स्वास्थ्य बीमा योजना आपके प्राथमिक स्वास्थ्य के लिए एक बैकअप है
                    बीमा योजना. यह उन व्यक्तियों के लिए आदर्श है जो किसी विशिष्ट बीमा राशि की भरपाई करना चाहते हैं
                    मूल योजना से ऊपर की राशि. आपको एक निश्चित कटौती योग्य भुगतान करना पड़ सकता है; हद पार हो गई, और
                टॉप-अप सक्रिय है.</span>

                <li><strong>Group Medical Insurance</strong>A group medical insurance policy is a health plan for people
                    such as bank-customers, employee-employer, society-members, etc. Group health insurance provides
                    comprehensive benefits during an emergency, such as cashless facilities, ambulance costs,
                    hospitalisation expense coverage, and more.
                </li>
                <strong style="color: #261e75;">समूह चिकित्सा बीमा</strong>: <span style="color: #261e75;">समूह चिकित्सा बीमा पॉलिसी लोगों के लिए एक स्वास्थ्य योजना है
                    जैसे बैंक-ग्राहक, कर्मचारी-नियोक्ता, सोसायटी-सदस्य आदि। समूह स्वास्थ्य बीमा प्रदान करता है
                    आपातकाल के दौरान व्यापक लाभ, जैसे कैशलेस सुविधाएं, एम्बुलेंस लागत,
                    अस्पताल में भर्ती व्यय कवरेज, और भी बहुत कुछ।</span>
            </ul>
        </div>

        <div class="col-md-3">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <img src="{% static 'Star2.jpg' %}" alt="LIC" class="profile-image"
                     style="width:500px ; height:350px">
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% endblock body%}